@media only screen and (min-width: 1440px) {
    html {
        font-size: 20px;
    }
    .logo {
        margin-right: 1rem;
    }
    .bottom-header .search-bar {
        width: 27rem;
    }
    .hero-section .hero-text {
        padding-top: 3rem;
    }
    .hero-section .feature .feature-img {
        width: 8rem;
        height: 8rem;
    }
    .hero-section .feature img {
        width: 5rem;
    }
    .hero-section .service-features {
        margin-top: -4rem;
    }
    .category button {
        font-size: .8rem;
    }
    .category img {
        left: 15%;
        top: -60%;
    }
}
@media only screen and (min-width: 2560px) {
    html {
        font-size: 35px;
    }
    .header-socials a {
        padding-top: .3rem;
    }
    .bottom-header .search-bar {
        border-width: 2px;
    }
    .bottom-header .cart-details i::after {
        width: .8rem;
        height: .8rem;
        font-size: .8rem;
    }
    h1 {
        font-size: 3.2rem;
    }
    .hero-section .hero-text {
        padding-top: 5rem;
    }
    .cart-details .prod-info p {
        font-size: 1rem;
    }
    .cart-items .item .prod-price {
        font-size: 1.2rem;
    }
    .cart-items .item img {
        width: 4rem;
        height: 4rem;
        object-fit: contain;
    }
    .cart-details .cart-items-card {
        padding-top: 1.2rem;
    }
    .btn-continue {
        height: 2.6rem;
        font-size: 1rem;
    }
    .product-card button {
        font-size: .95rem;
    }
    .bg-circle {
        top: -25rem;
    }
    .category:nth-of-type(1) .bg-circle,
    .category:nth-of-type(4) .bg-circle {
        top: -23rem;
        /* background-color: pink; */
    }
    .category img {
        width: 17rem;
        left: 13%;
    }
    .category button {
        height: 2.8rem;
        width: 7rem;
        font-size: .9rem;
    }
    .banner-section {
        max-height: 52vh;
    }
    .goals-section .big-img {
        width: 30rem;
        height: 30rem;
    }
    .goals-section .small-img {
        width: 15rem;
        height: 15rem;
        top: -10rem;
    }
    .goals-section .light-text {
        font-size: 1.4rem;
        line-height: 2.3rem;
    }
    .btn-medium {
        font-size: 1.05rem;
    }
    .newsletter-section button,
    .newsletter-section input {
        font-size: 1.2rem;
    }
}
@media only screen and (max-width: 1023px) {
    header, nav, main, footer {
        display: none;
    }
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .non-desktop {
        display: block;
    }
    
}
@media only screen and (max-width: 912px) and (min-width: 768px) and (min-height: 1024px) {
    .only-tablets {
        display: block;
    }
    body {
        gap: 1rem;
    }
}

/* for surface duo; to avoid placing info in the center where it folds or hinges */
@media only screen and (max-width: 720px) and (min-width: 720px) and (min-height: 1114px) {
    .non-desktop {
        margin-bottom: 35rem;
    }
}

/* changing font-size for mobile devices */
@media only screen and (max-width: 500px) {
    html {
        font-size: 14px;
    }
}
@media only screen and (max-width: 360px) {
    html {
        font-size: 12px;
    }
}
@media only screen and (max-width: 280px) {
    html {
        font-size: 10px;
    }
}
