/* for large screen devices (desktops, laptops) */
@media only screen and (min-width: 1180px) {
    .bg-circle {
        margin-left: 11rem;
    }
}
@media only screen and (min-width: 1230px) {
    .category img {
        width: 18rem;
        margin-top: -4rem;
    }
}
@media only screen and (min-width: 1273px) {
    .bg-circle {
        width: 23rem;
        height: 23rem;
        margin-top: -20rem;
    }
    .goals-section .big-img {
        width: 32rem;
        height: 32rem;
    }
    .goals-section .light-text {
        font-size: 1.4rem;
        line-height: 2.5rem;
    }
    .bottom-header .logo {
        margin-right: 5rem;
    }
    .bottom-header .search-bar {
        width: 46.7%;
    }
}
@media only screen and (min-width: 1024px) and (max-height: 705px) {
    .hero-content,
    .hero-section .hero-text {
        height: 68vh;
    }
    .category img {
        margin-top: -3rem;
    }
}
@media only screen and (min-width: 1024px) and (max-height: 650px) {
    .hero-section .service-features {
        margin-top: -3.5rem;
    }
    .category img {
        width: 13rem;
    }
}
@media only screen and (min-width: 1440px) and (min-height: 842px) {
    html {
        font-size: 18px;
    }
    .bottom-header .logo {
        margin-right: 0;
    }
}
@media only screen and (min-width: 2560px) {
    html {
        font-size: 35px;
    }
    .header-socials a {
        padding-top: .3rem;
    }
    .bottom-header .search-bar {
        border-width: 2px;
    }
    .hero-section .feature .feature-img {
        border-width: .3rem;
    }
    hr {
        height: 2px;
    }
    .btn-small {
        font-size: .8rem;
    }
}
@media only screen and (min-width: 2560px) and (min-height: 1264px) {
    .hero-section .hero-text,
    .hero-content {
        height: 30rem;
    }
    .category img {
        width: 13rem;
        margin-top: -4rem;
    }
    .category button {
        margin-top: 1.5rem;
    }
    .categories-section .category {
        padding-top: 1.5rem;
    }
    .banner-section {
        height: 70vh;
        max-height: none;
    }
    .goals-section .light-text {
        font-size: 1.1rem;
        line-height: 2.1rem;
    }
    .goals-section .small-img {
        top: -11rem;
    }
    .goals-section .big-img {
        width: 28rem;
        height: 28rem;
    }
    .btn-continue {
        margin-top: 1.3rem;
    }
    .cart-details .cart-items {
        height: 80%;
    }
    .cart-details .cart-items-card {
        height: 45vh;
    }
}

/* for non-desktop devices (to not display any content) */
@media only screen and (max-width: 1023px) {
    header, nav, main, footer {
        display: none;
    }
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .non-desktop {
        display: block;
    }
    
}
@media only screen and (max-width: 912px) and (min-width: 768px) and (min-height: 1024px) {
    .only-tablets {
        display: block;
    }
    body {
        gap: 1rem;
    }
}

/* for surface duo; to avoid placing info in the center where it folds or hinges */
@media only screen and (max-width: 720px) and (min-width: 720px) and (min-height: 1114px) {
    .non-desktop {
        margin-bottom: 35rem;
    }
}

/* changing font-size for mobile devices */
@media only screen and (max-width: 500px) {
    html {
        font-size: 14px;
    }
}
@media only screen and (max-width: 360px) {
    html {
        font-size: 12px;
    }
}
@media only screen and (max-width: 280px) {
    html {
        font-size: 10px;
    }
}
  
/* MEDIA QUERIES FOR PRODUCT PAGE */
@media only screen and (min-width: 1200px) {
    .category-page .filters {
        width: 15rem;
    }
    .category-page .filters .sidebar {
        padding: 1.5rem 1.5rem;
    }
    .category-page .filters .type-1 .options div {
        gap: .8rem;
    }
    .category-page .type-2 .dropdown {
        padding: 0 5px;
        font-size: .8rem;
    }
    .category-page .type-2 .dropdown select {
        width: 90%;
    }
    .category-page .products-display-section .products-grid {
        gap: 2rem;
    }
    .category-page .product-card {
        min-width: 12rem;
    }
    .pagination {
        width: 48rem;
        margin-left: 28.6vw;
        margin-top: 2rem;
    }
    .pagination nav ul {
        width: 45%;
    }
}
@media only screen and (min-width: 1300px) {
    .category-page .products-display-section .products-grid {
        padding: 1.85rem 7.5rem 1.8rem 2.5rem;
        gap: 3.5rem;
    }
}
@media only screen and (min-width: 1440px) {

}
@media only screen and (min-width: 1440px) and (min-height: 900px) {
    input[type=range]::-webkit-slider-thumb {
        margin-top: -4px;
    }
    .category-page .products-display-section .products-grid {
        padding-right: 1rem;
        gap: 2rem;
    }
    .category-page .circle:first-of-type {
        top: 1.65rem;
        left: -3px;
    }
}
@media only screen and (min-width: 2560px) {
    .category-page .products-display-section .header select {
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="2.5em" viewBox="0 0 448 512"><path fill="%23d1d1d1" d="M201.4 342.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 274.7 86.6 137.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"/></svg>');
    }
    .category-page .type-2 .dropdown select {
        width: 70%;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 448 512"><path fill="black" d="M201.4 342.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 274.7 86.6 137.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"/></svg>');
        background-repeat: no-repeat;
        background-position: right;
    }
    input[type=range]::-webkit-slider-thumb {
        margin-top: -8px;
    }
    .category-page .circle:first-of-type {
        left: -7px;
    }
    .category-page .circle {
        border-width: 4px;
    }
}
